<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>testingApp</display-name>
  <!-- Welcome files -->
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  
  <!--   Servlet Declaration -->
  <servlet>
  	<servlet-name>First</servlet-name>
  	<servlet-class>com.testingApp.controller.NormalServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>First</servlet-name>
  	<url-pattern>/NormalServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Second</servlet-name>
  	<servlet-class>com.testingApp.controller.CreateServletUsingGenericServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Second</servlet-name>
  	<url-pattern>/GenericServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Third</servlet-name>
  	<servlet-class>com.testingApp.controller.CreateServletUsingHttpServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Third</servlet-name>
  	<url-pattern>/HttpServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Fourth</servlet-name>
  	<servlet-class>com.testingApp.controller.DemoForm</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Fourth</servlet-name>
  	<url-pattern>/DemoForm</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Fifth</servlet-name>
  	<servlet-class>com.testingApp.controller.SuccesServletForDemoForm</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Fifth</servlet-name>
  	<url-pattern>/success</url-pattern>
  </servlet-mapping>
</web-app>